- blog = @page.contents.first
- blog = BcmsBlog::Blog.find_by_id(blog.blog_id) unless blog.is_a?(BcmsBlog::Blog)
- posts = blog ? blog.posts.to_a : ''

-unless posts.empty?
  #navSectionTitle
    =blog.name #The name of the blog is the title of the menu
  %ul{:class => 'leftNavBlock'}
    -posts.each do |post|
      %li
        %span{:class => ""}
          =link_to h(post.name), href = post.href_path

